<a href="https://colab.research.google.com/github/jamesokechukwu/Data-Specialist/blob/master/James_Stage_C_Tag_along_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00471/Data_for_UCI_named.csv')

In [2]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [3]:
df.drop('stab', axis=1, inplace=True)

In [4]:
df['stabf'].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [5]:
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stabf    0
dtype: int64

In [6]:
df.dropna()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,unstable
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,stable
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,unstable

In [7]:
X=df.iloc[:,:-1].values
y=df['stabf']

In [8]:
df['stabf'] = df['stabf'].replace({'unstable':0, 'stable':1})
X = df.drop(['stabf'], axis = 1)
y = df['stabf']

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [10]:
print(X_train)
print(y_train)

          tau1      tau2      tau3      tau4        p1        p2        p3  \
2694  6.255995  2.542401  7.024714  9.476518  3.529888 -1.224881 -0.688228
5140  5.070581  5.490253  8.075688  0.761075  4.220888 -1.280596 -1.902185
2568  1.220072  8.804028  3.874283  8.433949  3.614027 -1.039236 -0.953566
3671  7.498402  6.697603  8.798626  2.126236  3.134585 -1.581906 -0.589386
7427  7.074006  1.337511  6.100756  7.759156  2.526922 -0.922540 -0.632600
...        ...       ...       ...       ...       ...       ...       ...
2895  9.504984  5.265415  2.029617  8.026334  3.449756 -0.922754 -1.526305
7813  8.035818  4.632548  1.177810  1.204950  4.093208 -1.568218 -0.819966
905   7.052560  3.264057  1.405949  4.497549  3.741358 -0.629026 -1.407945
5192  5.085242  1.790031  2.486392  2.848192  3.159670 -0.892898 -1.025461
235   1.205354  6.995045  5.930860  2.523856  5.230127 -1.755047 -1.567927

            p4        g1        g2        g3        g4
2694 -1.616780  0.568221  0.618403  0.685739  0.660088
5140 -1.038107  0.443515  0.097244  0.916955  0.129254
2568 -1.621224  0.908353  0.923594  0.238881  0.660156
3671 -0.963293  0.260826  0.899003  0.964752  0.600598
7427 -0.971782  0.984580  0.716082  0.836928  0.165162
...        ...       ...       ...       ...       ...
2895 -1.000696  0.191864  0.611297  0.080008  0.350312
7813 -1.705024  0.223384  0.317770  0.726623  0.441620
905  -1.704387  0.868306  0.605566  0.100591  0.747320
5192 -1.241311  0.473917  0.418512  0.326253  0.982488
235  -1.907153  0.861961  0.202768  0.848373  0.739993

[8000 rows x 12 columns]
2694    0
5140    0
2568    0
3671    0
7427    0
       ..
2895    1
7813    1
905     0
5192    0
235     1
Name: stabf, Length: 8000, dtype: int64

In [11]:
df['stabf'].value_counts()

0    6380
1    3620
Name: stabf, dtype: int64

In [12]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform (X_test)

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
from sklearn.ensemble import ExtraTreesClassifier
extra_tree_forest = ExtraTreesClassifier(random_state = 1)
extra_tree_forest.fit(X_train, y_train)
extra_tree_forest.score(X_test, y_test)

0.922

In [15]:
#question 14 ACCURACY SCORE FOR RANDOMFOREST
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(random_state = 1)
classifier.fit(X_train, y_train)
classifier.score(X_test, y_test)

0.926

In [16]:
!pip install xgboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.7.3)

In [17]:
#question 15 ACCURACY SCORE FOR XGBOOST
from xgboost import XGBClassifier
model = XGBClassifier(random_state=1)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.919

In [18]:
!pip install lightgbm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (2.2.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.0.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (1.1.0)

In [19]:
#question 16 ACCURACY SCORE FOR LIGHTGBM
import lightgbm as ltb
LGBM = ltb.LGBMClassifier(random_state=1)
LGBM.fit(X_train, y_train)
LGBM.score(X_test, y_test)

0.9355

In [20]:
#question 20 FEATURE IMPORTNACE
model = ExtraTreesClassifier()
model.fit(X_train, y_train)
model_pred = model.predict(X_test)

In [21]:
model.get_params()

{'bootstrap': False,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [22]:
model.feature_importances_

array([0.11570546, 0.1180793 , 0.11335034, 0.11626021, 0.04004999,
       0.04074022, 0.04036783, 0.04008994, 0.08990336, 0.09554636,
       0.09649908, 0.0934079 ])

In [23]:
feature_importance = pd.DataFrame({'features' : X.columns, 'Importances': model.feature_importances_})
feature_importance = feature_importance.sort_values('Importances', ascending = False)

In [24]:
feature_importance

   features  Importances
1      tau2     0.118079
3      tau4     0.116260
0      tau1     0.115705
2      tau3     0.113350
10       g3     0.096499
9        g2     0.095546
11       g4     0.093408
8        g1     0.089903
5        p2     0.040740
6        p3     0.040368
7        p4     0.040090
4        p1     0.040050

tau2 is the most important feature while
p1 is the least important feature